body {
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
table.portfolio{
  color: black;
  font-family: 'Times New Roman', Times, serif;
}

span.bigTitle {
color:black;
font-size: 60px;
}

span.sections {
  color:black;
  font-size: 30px;
}


span.semiTitle {
  color:blueviolet;
  font-size: 30px;
}

a.connectingLinks {
  color: black;
  font-size: 30px;
  text-decoration: none;
}
a.Links {
  text-decoration: none;
}
a:hover {
  color:rgb(16, 69, 4);
}
